extends ../layout

block content

  center
    h1= title

    button#buttonUserTodos.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(onclick='toggleUserTeamTodos()', disabled='') My todos
    button#buttonTeamTodos.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(onclick='toggleUserTeamTodos()') Team's todos
    br
    br
    div#userTodos
      a(href="/todos/?_method=POST")
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent  Add todo

      table.mdl-data-table.mdl-js-data-table.mdl-data-table.mdl-shadow--2dp
        thead
          tr
              th.mdl-data-table__cell--non-numeric checked
              th.mdl-data-table__cell--non-numeric Id
              th.mdl-data-table__cell--non-numeric Author
              th.mdl-data-table__cell--non-numeric Subject
              th.mdl-data-table__cell--non-numeric Message
              th.mdl-data-table__cell--non-numeric createdAt
              th.mdl-data-table__cell--non-numeric updatedAt
              th.mdl-data-table__cell--non-numeric completedAt

          each todo in todos
            form(method="post" action="/todos/"+todo.id+"/?_method=PUT")
              if todo.subject == 'Subject' && todo.message == 'My text...'
                tr
                    td
                      if todo.completedAt == 'null' || todo.completedAt == null
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+todo.id+'/checked/'+todo.completedAt+'/?_method=PUT")')
                      else
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+todo.id+'/checked/'+todo.completedAt+'/?_method=PUT")', checked='')
                    td= todo.id
                    each user in users
                      if (todo.authorId == user.id)
                        td=user.pseudonyme
                    td
                      input(type='text', name='subject', value= todo.subject)
                    td
                      input(type='text', name='message', value= todo.message)
                    td #{prettyDate(todo.createdAt)}
                    if !todo.updatedAt
                      td Null
                    else
                      td #{prettyDate(todo.updatedAt)}
                    if !todo.completedAt
                      td Null
                    else
                      td #{prettyDate(todo.completedAt)}
                    td
                      ul
                          li
                              a(href="/todos/" + todo.id) Voir
                          li
                              input(type="submit", value='Editer')
                          li
                              a(href="/todos/" + todo.id + '?_method=DELETE') Supprimer

              else
                tr
                    td
                      if todo.completedAt == 'null' || todo.completedAt == null
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+todo.id+'/checked/'+todo.completedAt+'/?_method=PUT")')
                      else
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+todo.id+'/checked/'+todo.completedAt+'/?_method=PUT")', checked='')
                    td= todo.id
                    each user in users
                      if (todo.authorId == user.id)
                        td=user.pseudonyme
                    td= todo.subject
                    td= todo.message
                    td #{prettyDate(todo.createdAt)}
                    if !todo.updatedAt
                      td Null
                    else
                      td #{prettyDate(todo.updatedAt)}
                    if !todo.completedAt
                      td Null
                    else
                      td #{prettyDate(todo.completedAt)}
                    td
                      ul
                          li
                              a(href="/todos/" + todo.id) Voir
                          li
                              a(href="/todos/" + todo.id + '/edit') Éditer
                          li
                              a(href="/todos/" + todo.id + '?_method=DELETE') Supprimer



      ul.pagination
            - var nbPage = Math.ceil(countUserTodos / limit)
            - for (var i = 0; i < nbPage; i++){
                li
                    a(href='/todos?limit=' + limit + '?offset=' + offset + (i*limit)) Page #{i + 1}
            - }

    div#teamTodos(style='display: none')
      a(href="/todos/team/?_method=POST")
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent  Add todo at my team

      table.mdl-data-table.mdl-js-data-table.mdl-data-table.mdl-shadow--2dp
        thead
          tr
              th.mdl-data-table__cell--non-numeric checked
              th.mdl-data-table__cell--non-numeric Id
              th.mdl-data-table__cell--non-numeric From
              th.mdl-data-table__cell--non-numeric To
              th.mdl-data-table__cell--non-numeric Team
              th.mdl-data-table__cell--non-numeric Subject
              th.mdl-data-table__cell--non-numeric Message
              th.mdl-data-table__cell--non-numeric createdAt
              th.mdl-data-table__cell--non-numeric updatedAt
              th.mdl-data-table__cell--non-numeric completedAt

          each teamTodo in teamTodos
            form(method="post" action="/todos/"+teamTodo.id+"/?_method=PUT")
              if teamTodo.subject == 'Subject' && teamTodo.message == 'My text...'
                tr
                    td
                      if teamTodo.completedAt == 'null' || teamTodo.completedAt == null
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+teamTodo.id+'/checked/'+teamTodo.completedAt+'/?_method=PUT")')
                      else
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+teamTodo.id+'/checked/'+teamTodo.completedAt+'/?_method=PUT")', checked='')
                    td= teamTodo.id
                    each user in users
                      if (teamTodo.authorId == user.id)
                        td=user.pseudonyme
                    td
                      select(name='recipientId')
                        each user in users
                          option(name='recipientId', value=user.id)=user.pseudonyme
                    td= teamTodo.teamId
                    td
                      input(type='text', name='subject', value= teamTodo.subject)
                    td
                      input(type='text', name='message', value= teamTodo.message)
                    td #{prettyDate(teamTodo.createdAt)}
                    if !teamTodo.updatedAt
                      td Null
                    else
                      td #{prettyDate(teamTodo.updatedAt)}
                    if !teamTodo.completedAt
                      td Null
                    else
                      td #{prettyDate(teamTodo.completedAt)}
                    td
                      ul
                          li
                              a(href="/todos/" + teamTodo.id) Voir
                          li
                              input(type="submit", value='Editer')
                          li
                              a(href="/todos/" + teamTodo.id + '?_method=DELETE') Supprimer

              else
                tr
                    td
                      if teamTodo.completedAt == 'null' || teamTodo.completedAt == null
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+teamTodo.id+'/checked/'+teamTodo.completedAt+'/?_method=PUT")')
                      else
                        input(type='checkbox', name='check', onclick='window.location.assign("/todos/'+teamTodo.id+'/checked/'+teamTodo.completedAt+'/?_method=PUT")', checked='')
                    td= teamTodo.id
                    each user in users
                      if (teamTodo.authorId == user.id)
                        td=user.pseudonyme
                    each user in users
                      if (teamTodo.recipientId == user.id)
                        td=user.pseudonyme
                    td= teamTodo.teamId
                    td= teamTodo.subject
                    td= teamTodo.message
                    td #{prettyDate(teamTodo.createdAt)}
                    if !teamTodo.updatedAt
                      td Null
                    else
                      td #{prettyDate(teamTodo.updatedAt)}
                    if !teamTodo.completedAt
                      td Null
                    else
                      td #{prettyDate(teamTodo.completedAt)}
                    td
                      ul
                          li
                              a(href="/todos/" + teamTodo.id) Voir
                          li
                              a(href="/todos/" + teamTodo.id + '/edit') Éditer
                          li
                              a(href="/todos/" + teamTodo.id + '?_method=DELETE') Supprimer



      ul.pagination
              - var nbPage = Math.ceil(countTeamTodos / limit)
              - for (var i = 0; i < nbPage; i++){
                  li
                      a(href='/todos?limit=' + limit + '?offset=' + offset + (i*limit)) Page #{i + 1}
              - }

    -function prettyDate(epoch) { var date = new Date(parseInt(epoch)); return date.toLocaleString();};
